
.root {
  margin: auto;
  width: 80%;
  border: 5px solid #7f92b6;
  padding: 10px;
}

.cell {
  height: calc(10vh);
  width: calc(10vh);
  cursor: pointer;
  background-color: #dde1e9 !important;
}

.user-form {
  float: right;
}

.plain {
  display: none;
}
